[package]
name = "pup_analyzer"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
oc-vfs = { path = "../../crates/oc-vfs" }
chrono = { workspace = true }
